.play {
  background-image: url(https://assets.entrepreneur.com/content/3x2/2000/1672971505-shutterstock-1920422225-spotify.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  text-align: center;
  background-color: rgb(54, 53, 54);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(207, 203, 189);
  width: 400px;
  margin: 200px auto;
  border: 1px solid #140202;
  padding: 50px;
  border-radius: 80px;
}

label {
  align-items: center;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
.exit {
  background-image: url(https://png.pngtree.com/background/20230528/original/pngtree-colorful-hair-and-music-headphone-abstract-free-wallpapers-picture-image_2774495.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
