* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 25, 25);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 85%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

header .menu_side,
.song_side {
  position: relative;
  width: 25%;
  height: 90%;
  /* border: 1px solid black; */
  background-color: rgb(49, 28, 28);
  color: white;
}

header .song_side {
  width: 75%;
  background: rgb(77, 75, 75);
}

header .music_player {
  width: 100%;
  height: 10%;
  background: rgb(84, 90, 124);
  box-shadow: 0px 3px 8px rgb(202, 185, 185);
}

header .menu_side h1 {
  font-size: 20px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
}

header .menu_side .playlist {
  margin: 40px 0px 0px 20px;
}

header .menu_side .playlist h4 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.5s linear;
}

header .menu_side .playlist h4:hover {
  color: white;
}

header .menu_side .playlist h4 span {
  position: relative;
  margin-right: 35px;
}

header .menu_side .playlist h4 span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid;
  border-radius: 50%;
  top: -4px;
  transition: 0.5s linear;
}

header .menu_side .playlist h4:hover span::before {
  border: 2px solid whitesmoke;
}

header .menu_side .playlist h4 .bi {
  display: none;
}

header .menu_side .playlist .active {
  color: aqua;
}

header .menu_side .playlist .active span {
  display: none;
}

header .menu_side .playlist .active .bi {
  display: flex;
  margin-right: 20px;
}

header .menu_side .menu_song {
  width: 100%;
  height: 300px;
  /* border: 1px solid white; */
  margin-top: 40px;
}

header .menu_side .menu_song li {
  position: relative;
  list-style-type: none;
  padding: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s linear;
}

header .menu_side .menu_song li:hover {
  background: rgb(171, 157, 157);
}

header .menu_side .menu_song li span {
  font-size: 12px;
  font-weight: 600;
  color: gray;
}

header .menu_side .menu_song li img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}

header .menu_side .menu_song li h5 {
  font-size: 11px;
  margin-left: 15px;
}

header .menu_side .menu_song li h5 .subtitle {
  font-size: 9px;
  color: grey;
}

header .menu_side .menu_song li .bi {
  position: absolute;
  right: 15px;
  top: 6px;
  font-size: 16px;
}

header .music_player {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

header .music_player .wave {
  width: 30px;
  height: 30px;
  /* border: 1px solid white; */
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

header .music_player .wave .wave1 {
  width: 3px;
  height: 10px;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  background: turquoise;
  animation: unset;
}

header .music_player .wave .wave1:nth-child(2) {
  height: 13px;
  /* animation-delay: 0.5s; */
}

header .music_player .wave .wave1:nth-child(3) {
  height: 8px;
  /* animation-delay: 0.8s; */
}

/* Javascript class wave */
header .music_player .active2 .wave1 {
  animation: wave 0.5s linear infinite;
}

header .music_player .active2 .wave1:nth-child(2) {
  animation-delay: 0.1s;
}

header .music_player .active2 .wave1:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 20px;
  }
}

header .music_player img {
  width: 35px;
  height: 35px;
}

header .music_player h5 {
  width: 130px;
  font-size: 13px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
  line-height: 17px;
}

header .music_player h5 .subtitle {
  font-size: 11px;
  color: grey;
}

header .music_player .icon {
  font-size: 20px;
  color: white;
  margin: 0px 20px 0px 40px;
}

header .music_player .icon .bi {
  cursor: pointer;
  outline: none;
}

header .music_player .icon .bi:nth-child(2) {
  /* border: 1px solid grey; */
  border-radius: 50%;
  padding: 1px 3px 0px 6px;
  margin: 0px 5px;
  transition: 0.5s linear;
}

header .music_player span {
  color: white;
  width: 32px;
  font-size: 11px;
  font-weight: 400;
}

header .music_player #currentStart {
  margin: 0px 0px 0px 20px;
}

header .music_player .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background: black;
  margin: 0px 15px 0px 10px;
}

header .music_player .bar .bar2 {
  position: absolute;
  background: turquoise;
  width: 0%;
  height: 100%;
  top: 0;
  transition: 0.3s linear;
}

header .music_player .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: turquoise;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}

header .music_player .bar .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid turquoise;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px turquoise;
}

header .music_player .bar input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}

header .music_player .vol {
  position: relative;
  width: 100px;
  height: 2px;
  margin-left: 50px;
  background: gray;
}

header .music_player .vol .bi {
  position: absolute;
  color: white;
  font-size: 25px;
  top: -17px;
  left: -30px;
}

header .music_player .vol input {
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}

header .music_player .vol .vol_bar {
  position: absolute;
  background: turquoise;
  width: 0%;
  height: 100%;
  top: 0;
  transition: 0.3s linear;
}

header .music_player .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: turquoise;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}

header .music_player .vol .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid turquoise;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px turquoise;
}

header .song_side {
  z-index: 2;
}

header .song_side::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 422px;
  background: url(https://images.unsplash.com/photo-1547932087-59a8f2be576e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

header .song_side nav {
  width: 90%;
  height: 10%;
  margin: auto;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .song_side nav ul {
  display: flex;
}

header .song_side nav ul li {
  position: relative;
  list-style-type: none;
  font-size: 13px;
  color: gray;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song_side nav ul li:hover {
  color: white;
}

header .song_side nav ul li:nth-child(1) {
  color: white;
}

header .song_side nav ul li span {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: turquoise;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
}

header .song_side nav .search {
  position: relative;
  width: 40%;
  padding: 1px 10px;
  border-radius: 20px;
  color: white;
}

header .song_side nav .search::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: white;
  backdrop-filter: blur(5px);
  z-index: -1;
}

header .song_side nav .search .bi {
  font-size: 13px;
  padding: 3px 0px 0px 10px;
  color: black;
}

header .song_side nav .search input {
  background: none;
  outline: none;
  border: none;
  padding: 0px 10px;
  color: white;
  font-size: 12px;
}

header .song_side nav .user {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

header .song_side nav .user img {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px black;
}

header .song_side .content {
  width: 90%;
  height: 30%;
  margin: auto;
  /* border: 1px solid white; */
  padding-top: 20px;
}

header .song_side .content h1 {
  font-size: 25px;
  font-weight: 600;
}

header .song_side .content p {
  font-size: 11px;
  font-weight: 400;
  color: white;
  margin: 5px;
}

header .song_side .content .buttons {
  margin-top: 15px;
}

header .song_side .content .buttons button {
  width: 130px;
  height: 30px;
  border: 2px solid turquoise;
  outline: none;
  border-radius: 20px;
  background: turquoise;
  color: white;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song_side .content .buttons button:hover {
  border: 2px solid turquoise;
  background: none;
  color: turquoise;
}

header .song_side .content .buttons button:nth-child(2) {
  border: 2px solid turquoise;
  background: none;
  color: turquoise;
}

header .song_side .content .buttons button:nth-child(2):hover {
  border: 2px solid turquoise;
  background: turquoise;
  color: white;
}

header .song_side .popular_song {
  width: 90%;
  height: auto;
  /* border: 1px solid white; */
  margin: auto;
  margin-top: 15px;
}

header .song_side .popular_song .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .song_side .popular_song .h4 .bi {
  color: gainsboro;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song_side .popular_song .h4 .bi:hover {
  color: white;
}

header .song_side .popular_song .pop_song {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

header .song_side .popular_song .pop_song::-webkit-scrollbar {
  display: none;
}

header .song_side .popular_song .pop_song li {
  min-width: 100px;
  height: 140px;
  list-style-type: none;
  margin-right: 10px;
  transition: 0.3s linear;
}

header .song_side .popular_song .pop_song li:hover {
  background: rgb(41, 41, 52);
}

header .song_side .popular_song .pop_song li .img_play {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .song_side .popular_song .pop_song li .img_play img {
  width: 100%;
  height: 100%;
}

header .song_side .popular_song .pop_song li .img_play .bi {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  opacity: 0;
}

header .song_side .popular_song .pop_song li .img_play:hover .bi {
  opacity: 1;
}

header .song_side .popular_song .pop_song li h5 {
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 10px;
}

header .song_side .popular_song .pop_song li h5 .subtitle {
  font-size: 9px;
  color: gray;
}

header .song_side .popular_artists {
  width: 90%;
  height: auto;
  /* border: 1px solid white; */
  margin: auto;
  margin-top: 15px;
}

header .song_side .popular_artists .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .song_side .popular_artists .h4 .bi {
  color: gainsboro;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song_side .popular_artists .h4 .bi:hover {
  color: white;
}

header .song_side .popular_artists .item {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

header .song_side .popular_artists .item::-webkit-scrollbar {
  display: none;
}

header .song_side .popular_artists .item li {
  list-style-type: none;
  position: relative;
  min-width: 60px;
  height: 60px;
  /* background-color: white; */
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

header .song_side .popular_artists .item li img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
